body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 41, 55);
  color: #ffffff; 

}

#root {
  display: flex;
  min-height: 100vh;
  
}

.App {
  display: flex;
  flex: 1;
  background-color: rgba(31, 41, 55);
  overflow: hidden;
  width: 100vw;
}

.h-screen {
  height: 100vh;
}
.flex {
  display: flex;
}

.p-6 {
  padding: 1.5rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}


/* ASide filters part*/
.shadow-2xl {
 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.w-96 {
  width: 24rem;
}






.left-half, .right-half {
  background-color: rgba(31, 41, 55);
  color: #ffffff;
}

.left-half {
  flex: 4;
  padding: 20px;
  position: relative;
}

.right-half {
  flex: 1;
  padding: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  position: sticky;
 
  top:0;

}

.movie-list, .tv-shows-list {
  padding: 20px;
  background-color: rgba(31, 41, 55);
}
